
.left {
    float: left;
    width: 20%;
    height: 100vh;
    background-color: white
}

.right{
    float:right;
    width:80%;
    background-color: white;
    height: 100vh;
    overflow: hidden;
}

.tab-content{
    width:100%; height:100%;
}

.tab {
    width: 100px; 
    height:100%; 
    margin: 0px; 
    padding: 0px; 
    float: left;
    box-sizing: border-box;
    border: 1px solid rgb(44,48,78);
    background-color:white;
    color: black
}

.inner-title {
    width: 100%; 
    text-align: right; 
    color: white; 
    padding-right:10px
}

.dev-panel {
    float: left;
    width: 100%;
    height: 100%;
    border-left: 1px solid rgb(216,216,216);
    border-top: 1px solid rgb(216,216,216);
    border-bottom: 1px solid rgb(216,216,216);
    box-sizing: border-box;
    background-color:white
}

.btn {
    height: 40px; 
    width: 100%; 
    box-sizing: border-box; 
    background-color:rgb(106,125,254);
    color:white; 
    border: 0px solid rgb(65, 68, 85);
    border-radius: 3px;
    margin-top: 5px; 
    margin-bottom: 5px;
}

.call-btn {
    width: 80px;
    height: 30px;
    box-sizing: border-box; 
    background-color:rgb(106,125,254);
    color:white; 
    border: 0px solid rgb(65, 68, 85);
    border-radius: 3px;
    margin-left: 5px;
    margin-right: 5px;
}

.pub-btn {
    height: 60px; 
    width: 60px; 
    box-sizing: border-box; 
    background-color:rgb(193,193,193);
    color:white; 
    border: 0px solid rgb(65, 68, 85);
    border-radius: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

.screen-share-ctrl-panel {
    height: 10%; 
    width: 100%; 
    background-color:white; 
    position: relative;
    box-sizing: border-box;
    border-left: 1px solid rgb(216,216,216);
    border-top: 1px solid rgb(216,216,216);
    border-bottom: 1px solid rgb(216,216,216);
}

.login-input {
    width: 100%; 
    line-height: 2; 
    box-sizing: border-box; 
    text-align: center;
    margin-top: 5px; 
    margin-bottom: 5px;
}

.left-panel {
    background-color:white; 
    border: 1px solid rgb(216,216,216);
    box-sizing: border-box;
}

.max-panel {
    position: absolute;    
    left: 0;
    top: 0;
    z-index: 9999;
    width: 100vw;
    height: 100vh
}

.online-tab {
    background-color:rgb(232, 240, 254); 
    height: 100%; 
    width: 100%;
    box-sizing: border-box; 
    border: 1px solid rgb(216,216,216);
}

.msg-tab {
    background-color:rgb(232, 240, 254); 
    display: flex; 
    justify-content: center; 
    align-items:center; 
    height: 100%; 
    width: 100%;
    box-sizing: border-box; 
    border: 1px solid rgb(216,216,216);
}

.send-msg {
    width: 100%; 
    display: flex; 
    justify-content: center; 
    align-items:center; 
}

#msg-show-ta {
    height:380px; 
    width: 40%; 
    box-sizing: border-box;  
    background-color: white;
}

#msg-send-ta {
    height: 100%; 
    width: 100%; 
    box-sizing: border-box; 
}

#msg-send-sel {
    height: 30px; 
    width: 70%; 
    display: block; 
    box-sizing: border-box
}

#msg-send-btn {
    height:30px; 
    width: 28%; 
    margin-left: 1%;
    background-color:rgb(106,125,254); 
    border: 1px solid rgb(106,125,254); 
    box-sizing: border-box;
    color: white;
    border-radius: 3px;
}

#screen-btn-div {
    width: 150px; 
    height: 40px; 
    position:absolute; 
    top:50%; 
    left: 50%; 
    margin-top: -20px; 
    margin-left: -75px
}

#screen-share-btn {
    width:150px; 
    height: 40px;
    box-sizing: border-box; 
    background-color: rgb(193,193,193); 
    border: 0px solid rgb(106,125,254);
    color:white
}

#online-users-div {
    width:600px; 
    height: 80%; 
    margin: 0px auto; 
    border:1px solid rgb(216,216,216); 
    background-color: white
}

.left-panel-layout {
    display:flex; 
    align-items:center; 
    justify-content: center; 
    height: 100%;
}

#sys-msg-ta {
    width: 100%; 
    height: 100%; 
    box-sizing: border-box; 
    background-color: white
}

.invite-btn {
    background-color: rgb(193,193,193);
    border: 1px solid;
    box-sizing: border-box;
    color: white;
    width: 40%;
    height: 80%;
    padding: 0px;
    border-radius: 3px;
}

#call-tbl {
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
}

#call-tbl th {
    background-color: rgb(106,125,254);
    color: white;
    border-style: none none none solid;
    border-width: 0px 0px 0px 1px;  
    box-sizing: border-box;
    height: 35px;
}

#online-users-tbl {
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
}

#online-users-tbl th {
    background-color: rgb(106,125,254);
    color: white;
    border-style: none none none solid;
    border-width: 0px 0px 0px 1px;  
    box-sizing: border-box;
    height: 35px;
}

#group-users-tbl th {
    background-color: white;
    color: black;
    border-color: rgb(216,216,216);
    border-style: solid;
    border-width: 0px 1px 1px 0px;  
    box-sizing: border-box;
    height: 30px;
    font-size: 10px;
    font-weight: normal;
    font-family: "Microsoft Yahei";
}

#group-users-tbl td {
    font-size: 10px;
    font-weight: normal;
    font-family: "Microsoft Yahei";
}

.user-line {
    background-color: white;
    height: 30px;
    text-align: center;
    box-sizing: border-box;
    padding-left: 4px;
    padding-right: 4px;
    margin: 0px;
    border-width: 0px 0px 1px 0px;
    border-style: hidden hidden dashed hidden;
    border-color: rgb(216,216,216);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.call-line {
    background-color: white;
    height: 30px;
    text-align: center;
    box-sizing: border-box;
    padding-left: 4px;
    padding-right: 4px;
    margin: 0px;
    border-width: 0px 0px 1px 0px;
    border-style: hidden hidden dashed hidden;
    border-color: rgb(216,216,216);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: small;
}

.pub-state-btn {
    background-color:green; 
    height:16px; 
    width:16px; 
    border-radius:8px;
    border: 0px;
    padding: 0px;
    margin: 0px;
}

.unpub-state-btn {
    background-color:rgb(220,220,220); 
    height:16px; 
    width:16px; 
    border-radius:8px;
    border: 0px;
    padding: 0px;
    margin: 0px;
}

#all-msg-ta {
    background-color: white;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    overflow: auto
}

.send-msg-panel {
    height: 5%; 
    border-style: none none solid none;
    border-width: 1px; 
    border-color: rgb(216,216,216);
    box-sizing: border-box;
}

.video-top {
    position: relative;
    background-color:black;
    float: left;
    width: 100%;
    height: calc(100% - 80px);
}

.board-tab {
    width: 100%;
    height: 30px;
    background-color: rgb(232, 240, 254);
    border-bottom: 1px solid black;
}

.board-content {
    position: relative;
    background-color:black;
    /* float: left; */
    width: 100%;
    height: calc(100% - 140px);
}

.board-bottom {
    float: left;
    width: 100%;
    height: 45px;
    margin: 0px;
    background-color: white;
    border-top: 1px solid rgb(193,193,193);
    border-bottom: 1px solid rgb(193,193,193);
}
.board-bottom .btn {
    float: left;
    text-align: center;
    line-height: 30px;
    margin-right: 10px;
    cursor: pointer;
    width: 50px;
    height: 30px;
}
.oprate-board {
    height: 65px;
    width: 100%;
    display: flex;
    background: #fff;
    align-items: center;
    justify-content: center;
}
.oprate-board .createBoard, .createDocBoard {
    width: 150px;
    height: 40px;
    box-sizing: border-box;
    background-color: rgb(193,193,193);
    border: 0px solid rgb(106,125,254);
    color: white;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.createDocBoard {
    margin-left: 20px
}

.video-bottom {
    float: left;
    width: 100%;
    height: 80px;
    margin: 0px;
    background-color: white
}

.video-panel-wrapper {
    position: absolute;
    width:33.33%; 
    height:50%; 
    background-color:black; 
    /* border: 1px solid white; */
    box-sizing: border-box;
    float: left;
}

.video-element {
    position: absolute;
    float: left; 
    width: 100%; 
    height: 100%; 
    background-color:black; 
    border: 1px solid white;
    box-sizing: border-box;
}

.overlay-audio-volume {
    position: relative;
    width: 12px; 
    height: 16px; 
    border-radius: 5px;
    border: 1px solid green;
    background-color: white; 
    color:white;
    margin: 0 auto;
}

.audio-volume {
    position: absolute;
    bottom: 0;
    background-color: green; 
    width: 12px; 
    height: 0px;
    
}

.overlay-user-label {
    position: absolute;
    float: left; 
    left: 20px; 
    top: 10px; 
    z-index: 1; 
    width: 100px; 
    height: 20px; 
    background-color:rbga(0,0,0,0.5); 
    color:white
}

.overlay-video-label {
    position: absolute;; 
    float: right; 
    right: 20px; 
    top: 10px;
    z-index: 1; 
    width: 260px; 
    height: 20px; 
    /* background-color:rbga(0,0,0,0.5);  */
    color:white;
    text-align: right;
}

.screen-share-panel {
    position: relative;
    width:50%; 
    height:100%; 
    background-color:black; 
    /* border: 1px solid white; */
    box-sizing: border-box;
    float: left;
}


.setting-tab {
    background-color:rgb(232, 240, 254); 
    height: 100%; 
    width: 100%;
    box-sizing: border-box; 
    border: 1px solid rgb(216,216,216);
}

.setting-panel {
    width: 720px;
    background-color: white;
    margin: 0 auto;
}

.setting-panel-title {
    display:flex;
    justify-content: space-between;
    width: 660px;
    height: 30px;
    line-height: 30px;
    background-color: white;
    border-bottom: 1px solid rgb(216,216,216);
    /* margin: 0 auto; */
    /* margin-top: 30px; */
    margin-left: 30px;
    padding-top: 30px;
    color: black;
}

.text-input {
    width: 400px;
    height: 30px;
    box-sizing: border-box;
}

.scale-input {
    width: 60px;
    height: 30px;
    box-sizing: border-box;
}

.dev-sel {
    width: 400px; 
    height: 30px; 
    /* margin-top:10px */
}

.magic-sel {
    width: 100px; 
    height: 30px; 
    /* margin-top:10px */
}

.setting-label {
    width: 150px;
    height: 30px;
    line-height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 10px;
    text-align: right;
    display: table-cell;
    vertical-align: middle;
}

.slider-value-text {
    width: 50px; 
    display: inline-block;
    text-align: right;
}

.slider-text-block {
    height: 30px; 
    line-height: 30px; 
    display: table-cell; 
    vertical-align: middle; 
    margin-top: 10px;
}

.setting-line-margin {
    margin-top: 15px; 
    margin-bottom: 10px;
}

.setting-line-input {
    margin-top: 10px; 
    margin-bottom: 10px;
}

.setting-line-checkbox {
    margin-top: 10px; 
    margin-bottom: 10px;
}

.setting-checkbox {
    height: 16px; 
    width: 16px; 
    margin-right: 20px; 
    box-sizing: border-box; 
    margin-top: 7px;
    background-color: white;
}

.cam-menu-cbx {
    background-color: white;
}
.whiteboard {
    width: 95%;
    height: 95%
}
/* canvas {
    cursor: pointer;
    width: 100%;
    height: 100%;
} */
/* 清楚浮动元素 */
.clearfix:after {
	content: '.';
	height: 0;
	display: block;
	clear: both;
	visibility: hidden;
}
.clearfix {
	zoom: 1;
}

.menuItem {
    width: 100px;
    height: 25px;
    margin: 0px;
    padding: 0px;
    float: left;
    box-sizing: border-box;
    border: 1px solid rgb(44,48,78);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}

.menuItem.selected {
    background-color: rgb(106,125,254);
    color: white;
}


/*----------------------------------- 设置界面 -----------------------------------*/

.setting-tab-box {
    width: 720px;
    margin: 0 auto;
}

.setting-tab-nav {
    width: 720px; 
    background-color: rgb(44,48,78); 
    display:flex; 
    height: 40px; 
    margin-top: 20px;
}

.setting-tab-box ul {
    list-style-type: none;  
    padding-inline-start: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.setting-tab-box li {
    float: left;
    width: 100px;
    background: white;
    color: black;
    height: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    margin-right: 0px;
    /* font-weight: bold; */
    border: 1px solid black;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: normal;
    font-family: "Microsoft Yahei";
}

.setting-tab-box li.active {
    background: rgb(106,125,254);
    color: white;
}

.setting-tab-content {
    padding-left: 0px;
}

.setting-tab-content>div {
    width: 720px;
    height: 440px;
    /* padding: 15px 5px; */
    color: #000;
    /* clear: left; */
    display: none;
    background:white;
}
/*//注意这里设置整个容器里的div为不可见的*/

.setting-tab-box div.active-content {
    display: block;
}

.board-tab-box {
    width: 100%;
}

.board-tab-box ul {
    list-style-type: none;  
    padding-inline-start: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.board-tab-box li {
    float: left;
    width: 100px;
    background-color: white;
    color: black;
    height: 30px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    margin-right: 0px;
    border: 1px solid black;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: normal;
    font-family: "Microsoft Yahei";
    border-top-right-radius:15px;
    /* border-top-left-radius: 15px; */
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/* .board-tab-box li:hover {
    width: auto
} */

#group-users-tbl {
    border-spacing: 0px; 
    word-break: break-all; 
    table-layout: fixed;
}

.group-users-div {
    height: 30%; 
    overflow-y: auto; 
    overflow-x: hidden;
}

.dev-panel-wrapper {
    display:flex; 
    align-items:center; 
    justify-content: center; 
    height: 100%;
}

.video-dev-menu {
    display: none; 
    position:absolute; 
    background-color:azure;
}

.online-table {
    border-spacing: 0px; 
    table-layout: fixed; 
    word-wrap:break-word;
}

.online-panel {
    display:flex; 
    align-items:center; 
    justify-content: center; 
    height: 100%;
}

.edit-btn {
    width: auto !important;
    padding: 0 10px;
}

/* 定义模态对话框外面的覆盖层样式 */
.modal-overlay {
    visibility: hidden;    
    position: absolute;   /* 使用绝对定位或固定定位  */
    left: 0px;    
    top: 0px;
    width:100%;
    height:100%;
    text-align:center;
    z-index: 9;
    background-color: #333; 
    opacity: 0.5;   /* 背景半透明 */
}

/* 被叫模态框样式 */
#callee-modal-data {
    visibility: hidden;
    position: fixed;
    width:300px;
    height: 100px;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #fff;
    border:1px solid #000;
    padding:15px;
    text-align:center;
    z-index: 10;
    opacity: 1;
    border-radius: 4px;
}

/* 呼叫模态框样式 */
#call-modal-data {
    visibility: hidden;
    position: fixed;
    width:300px;
    height: 180px;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #fff;
    border:1px solid #000;
    padding:15px;
    text-align:center;
    z-index: 10;
    opacity: 1;
    border-radius: 4px;
}

.call-btn-layer {
    display: flex; 
    margin-top: 20px; 
    justify-content: center;
}

#callee-id-input {
    width: 192px; 
    line-height: 22px;
}

.call-label {
    line-height: 40px;
}

#callee-type-sel {
    width: 200px; 
    height: 30px;
}

.call-type-layer {
    display: flex; 
    height: 40px; 
    margin-top: 12px;
}

.callee-id-layer {
    display: flex; 
    height: 40px;
}

.group-id-layer {
    display: flex; 
    height: 40px;
}

#group-id-input {
    width: 192px; 
    line-height: 22px;
}

.call-tbl-panel {
    width: 800px;
    background-color: white;
    margin: 0 auto;
    height: 500px; 
    margin-top: 40px;
    border-bottom: solid 1px rgb(193,193,193);
}

#create-call-btn {
    height:35px; 
    width: 70px; 
    background-color:rgb(106,125,254); 
    border: 0px;
    box-sizing: border-box;
    color: white;
    border-radius: 3px;
    font-weight: bold;
}

#accept-call-btn {
    height:30px; 
    width: 80px; 
    background-color:rgb(106,125,254); 
    border: 0px;
    box-sizing: border-box;
    color: white;
    border-radius: 3px;
    /* font-weight: bold; */
    margin-left: 3px;
}

#reject-call-btn {
    height:30px; 
    width: 80px; 
    border: 0px;
    box-sizing: border-box;
    border-radius: 3px;
    /* font-weight: bold; */
    margin-right: 3px;
}